#main{
 background-color: green;
 height: auto;
 width: 100%;
}

#propertiesList{
 border-style:solid;
 border-color: purple;
 float: left;
 width: 13em;
 height:30em;
 margin-top: 5em;
 margin-left: 7px;
 border-radius:20px;
 list-style-type: disc;
 display:none;
}

#propertiesList li{

}
#onePropertyDetails{
    margin-left:20em;
    background-color: yellow;
    height: 85vh;
    display:none;
  }

#onePropertyDetails h2{
    text-align: center;
    margin-top:3em;
    padding-top: 1em;
}

#onePropertyDetails img{
    border-style: solid;
    margin:1em 1em 1em 1em ;
    float: left;
    border-radius: 10px;
    border-color: transparent;   
    width: 40em;
    height: 33em;
}

#properties{
 background-color: grey;
}
.propertyCard{
border-style: solid;
border-color: green;
border-width: 1px;
width:20em;
height:24em;
margin-left:30px;
margin-bottom:5px;
padding: 10px;
display: inline-grid;
}

.propertyCard img{
 width: 20em;
 height:12em
}

#questionsTab{
    background-color: blue;
    position:absolute;
    width:25em;
    bottom:0em;
    left: 74.5em;
    height:12em;
    overflow-y: scroll;
    padding: 5px;
    border-top-left-radius:15px;
    position: fixed;
   }
   
   #questionsTab h2{
       margin-top: 3px;      
   }

   .propertyCard p{
       margin-top: 2px; 
       margin-bottom: 2px;     
   }


